.TermsConditonSection {
  max-width: 90%;
  margin: 0 auto;
}

header {
  margin: 2rem 0;
  text-align: center;
}

header > p {
  font-size: 1rem;
  color: #b3abcc;
}

h2.tcs_head {
  font-size: 3rem;
  color: #f4f4f6;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tcs_body > p {
  font-size: 1rem;
  color: #b3abcc;
  text-align: center;
  padding: 0.5rem;
}

.gradientText {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-clip: text;
}

.modal-dialog {
  z-index: 9999;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .TermsConditonSection {
    max-width: 90%;
  }
  h2.tcs_head {
    margin-top: 0;
    font-size: 1.75rem;
  }
  .tcs_body > p {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .TermsConditonSection {
    max-width: 80%;
  }
  .tcs_body > p {
    font-size: 0.85rem;
  }
}
