.underconstruction-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: #f6f3ea;
  background: #131118;
  border-radius: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #5cc6ff;
  box-shadow: 0 0 10px #5cc6ff;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}


.close-icon {
  fill: #fff;
  border-radius: 50%;
}

.underconstruction-message-section {
  padding: 2rem;
  background: rgba(19, 17, 24, 0.8);
  border-radius: 1.5rem;
  text-align: center;
}

.underconstruction-gradientText {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  background: linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underconstruction-message {
  color: #f6f3ea;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.underconstruction-homeButton {
  font-family: "Poppins", sans-serif;
  color: #f6f3ea;
  background: transparent;
  border: 2px solid #5cc6ff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px #5cc6ff;
}

.underconstruction-homeButton:hover {
  background: rgba(92, 198, 255, 0.1);
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
}

