.deposit-component {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: #f6f3ea;
  background: #131118;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #5cc6ff;
  box-shadow: 0 0 10px #5cc6ff;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.close-icon {
  fill: #fff;
  border-radius: 50%;
}

/* CSS rule for the form section */
.deposit-component .form-section {
  padding: 2rem;
  background: rgba(19, 17, 24, 0.8);
  border-radius: 1.5rem;
}

.deposit-component .summary-section {
  padding: 2.5rem;
  background: rgb(24, 22, 29);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  color: #f6f3ea;
  font-size: 1.2rem;
}

.deposit-component .summary-section label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.deposit-component .summary-section p {
  line-height: 1.5;
  position: relative;
}

.deposit-component .summary-section p::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  border: 1px solid #5cc6ff;
  border-radius: 50px;
  box-shadow: 0 0 10px #5cc6ff;
}

/* CSS rule for gradient text */
.deposit-component .gradientText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    73.6deg,
    #85ffc4 2.11%,
    #5cc6ff 42.39%,
    #bc85ff 85.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CSS rule for bonus text */
.deposit-component .bonus {
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(to right, #008000, #adff2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deposit-component .total {
  font-size: 1.5rem;
  font-weight: bold;
}

.deposit-component .total-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* CSS rule for the input and select elements */
.deposit-component input,
.deposit-component select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #f6f3ea;
}

/* CSS rule for the button */
.deposit-component button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: 2px solid #5cc6ff;
  border-radius: 50px;
  box-shadow: 0 0 10px #5cc6ff;
}

.deposit-component button:hover {
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
}

/* CSS rule for payment options */
.deposit-component .payment-options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.deposit-component .payment-option {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 25%;
  transition: all 0.3s ease-in-out;
}

.deposit-component .payment-option:hover {
  background: rgba(92, 198, 255, 0.1);
  border-color: #5cc6ff;
}

.deposit-component .payment-option.selected {
  background: rgba(92, 198, 255, 0.2);
  border-color: #5cc6ff;
  transform: scale(1.1);
}

/* CSS rule for amount options */
.deposit-component .amount-options {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.deposit-component .amount-option {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid #5cc6ff;
  transition: all 0.3s ease-in-out;
  background: rgba(19, 17, 24, 0.8);
  color: #f6f3ea;
  text-align: center;
  flex: 1 1 auto;
}

.deposit-component .amount-option:hover {
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
}

.deposit-component .amount-option:active {
  transform: scale(0.95);
  background: rgba(92, 198, 255, 0.3);
}
