html {
  scroll-behavior: smooth !important;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

.gridBox {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f6f3ea;
  font-weight: bold;
  font-size: 1.5rem;
  /* height: 65vh;
    overflow-y: auto; */
}

h6.error {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  top: 2%;
}
.gridBox .gridBoxContent {
  padding: 0.5rem;
  background: #131118;
  border-radius: 1rem;
  height: auto;

}
.gradientText {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.primaryTextColor {
  color: #92a0bb !important;
}

.selectBox {
  background-color: #000000ad !important;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1rem !important;
  top: 0rem;
  left: 0;
}
.selecttext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.price {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 0.9rem;
}

div.info {
  font-size: 1rem;
  color: #92a0bb !important;
  position: absolute;
  right: 6%;
  top: 2%;
}

div.discount {
  margin-top: -15%;
}
span.discountPercent {
  font-size: 0.9rem;
  margin-top: -7%;
  color: #92a0bb !important;
}
.fa-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardIcon {
  color: #00dbc7 !important;
  font-size: 1.15rem;
}


.itemName {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* position: relative; */
  /* line-height: 40px; */
  pointer-events: none;
}

.text-grey {
  color: #848484;
}
.font-p75rem {
  font-size: 0.75rem;
}
.font-1rem {
  font-size: 1rem;
}
.font-09rem {
  font-size: 0.9rem;
}
.font-2halfrem {
  font-size: 2.5rem;
}

.h-15vh {
  height: 15vh !important;
}

/* error box */

.errorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.dataNotFound {
  color: #92a0bb !important;
  font-size: 2rem;
}
.ratingValue {
  font-size: 0.85rem;
}
.lock-Icon {
  font-size: 0.75rem;
  color: #92a0bb !important;
}
.colorPrimary {
  color: #92a0bb !important;
}
.unlockIcon {
  font-size: 0.75rem;
  color: #00dbc7 !important;
}
.gradientText {
  /* justify-content: space-evenly; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Stattrak-gradientText {
  font-weight: 2000;
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(50deg, #ed8f0a 100%, #ed8f0a 100%, #ed8f0a 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.GradientBtn {
  padding: 8px 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  border-radius: 100px;
  border: none;

}

span.GradientBtnWhite {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.modal-content {
  background: #1c1924;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #92a0bb;
  width: 90%;
}

#itemDetails.modal-title {
  width: 50%;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  box-shadow: inset 0px -2px 0px #ffffff;
  padding: 1rem;
  transition: 0.3s;
}

#salesInfo.modal-title {
  width: 50%;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
}
/* #salesInfo.modal-title::after{
  
    width: 10px;
    min-width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    right: 13px;
    top: 13px;
    background-color: #ff6464;
    border-radius: 100px;
    box-shadow: 0 0 0 0 #ff6464;

} */
button.Rec {
  width: 35px;
  height: 35px;
  font-size: 0;
  background-color: #ff6464;
  border: 0;
  border-radius: 35px;
  margin: 18px;
  outline: none;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px #ff6464b9;
  }
  65% {
    box-shadow: 0px 0px 5px 13px #f74444;
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}
.balanceContainer {
  width: 100%;
  text-align: end;
  font-size: 1rem;
}

.modal-footer {
  justify-content: center;
  border-top: none !important;
}

/* Modal Content start here */

h2,
h4,
h6 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.root {
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

figure {
  display: flex;
}
figure > svg {
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 0.5rem;
}
figure figcaption h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
figure figcaption h6 {
  font-size: 1rem;
  font-weight: 300;
}
figure figcaption h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.sell-track {
  /* padding: 0 1rem; */
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.sell-track-step {
  display: flex;
  height: 7rem;
}
.sell-track-step:last-child {
  overflow: hidden;
  height: 4rem;
}
.sell-track-step:last-child .sell-track-status span:last-of-type {
  display: none;
}
.sell-track-status {
  margin-right: 1.5rem;
  position: relative;
}
.sell-track-status-dot {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.sell-track-status-line {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 7rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
}
.sell-track-text-stat {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 3px;
  color: #fff;
}
.sell-track-text-sub {
  font-size: 0.85rem;
  font-weight: 300;
  color: #a3a3a3;
}

.sell-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}
.sell-track-text {
  background: #131118;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.description-Text {
  color: #a3a3a3;
  font-size: 0.75rem;
}
.description-Text > span {
  display: block;
}
.modal-content {
  background-color: #131118 !important;
}
.labelHead {
  font-size: 0.8rem;
  font-weight: 500;
}
.labelValue {
  font-size: 1.25rem;
}
.labelExtra {
  font-size: 0.9rem;
}

.Darkbtn:hover {
  border-color: #5cc6ff;
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 0 12px #5cc6ff;
}

span.darkModeBtn {
  color: #92a0bb !important;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px; /* Increase the font size */
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.shareBtn {
  color: #92a0bb !important;
  padding: 8px 16px;
  background: #1c1924;
  border-radius: 1rem;
    border: 2px solid #5cc6ff;
  border-radius: 50px;
  box-shadow: 0 0 8px #5cc6ff;
}

/** Offline user imported to sell.jsx and exchanges.jsx in pages **/
.parent-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #131118;
  color: #92a0bb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.login-section h2 {
  margin-bottom: 1rem;
}

.login-section p {
  margin-bottom: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-section {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-section h1,
.login-section p,
.login-section form {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.login-section h1 {
  animation-delay: 0.2s;
}

.login-section p {
  animation-delay: 0.4s;
}

.login-section form {
  animation-delay: 0.6s;
}





@media only screen and (min-width: 300px) and (max-width: 600px) {
  figure > svg {
    font-size: 2rem;
    padding: 0.25rem;
  }
  figure figcaption h4 {
    font-size: 0.9rem;
  }
  .sell-track-text {
    height: fit-content;
  }
  .sell-track-text-stat {
    font-size: 0.9rem;
  }
  .sell-track-text-sub {
    font-size: 0.65rem;
  }
}