footer {
  width: 100%;
  color: #a6a0bb;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  background-color: #131118;
  padding: 0.3% 1%;
  justify-content: space-between;
  margin-top: 5rem;
}

.brand-and-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.copyright {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

nav ul.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul.footer-content > .nav-item > .nav-link:hover {
  background: #09080c;
  box-shadow: inset 0px -2px 0px #ffffff;
  transition: 1.5s;
  color: #fff;
}

.payment-methods {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  gap: 0.5rem;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  nav ul.footer-content {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

}