
/* Grid Box Content */
.gridBox .gridBoxContent {
  position: relative;
  background-color: rgba(31, 28, 35, 0.8);
  border-radius: 1rem;

}

.gridBox .gridBoxContent:hover {
  background-color: rgba(31, 28, 35, 1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
  


/* Select Box */
.selectBox {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1rem;
  top: 0rem;
  left: 0;
}


/* Discount */
.discountGreen {
  background: linear-gradient(73.6deg, #85ffc4 2.11%, #00db77 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 0.8rem; 
  font-weight: bold;
}

.discountRed {
  background: linear-gradient(73.6deg, #ff8575 2.11%, #db002b 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 0.8rem; 
  font-weight: bold;
}



/* Buttons */
.Darkbtn,
.navbarBtn {
  color: #92a0bb !important;
  padding: 8px 16px;
  background: #1c1924;
  border-radius: 100px;
}


  /* Modal */
  .balanceContainer{
  width: 100%;
  text-align: end;
  font-size: 1rem;
  }

  /* CSS rule for the button */
.buy-modal-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: 2px solid #5cc6ff;
  border-radius: 50px;
  box-shadow: 0 0 10px #5cc6ff;
}

.buy-modal-button:hover {
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
}

.purchase-modal-button:hover {
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
}

 
.modal-backdrop {
  z-index: 0 !important;
}
  
.modal {
  z-index: 5;
}


/* Total Amount Container */
.totalAmountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1924;
  padding: 0.5rem 0;
}

/* Total Amount */
.totalAmount {
  font-size: 1.5rem;
  color: #92a0bb;
}
    
/* Cancel Button */
.cancelBtn {
  color: #92a0bb !important;
  padding: 8px 16px;
  background: #1c1924;
  border-radius: 100px;
  border: none;
}
    

  
/* Responsive Design */
  @media screen and (max-width: 768px) {
    .font-p75rem {
    font-size: 0.65rem;
    }
    
    .font-p85rem {
    font-size: 0.75rem;
    }
    
    .font-1rem {
    font-size: 0.9rem;
    }
    
    .font-2halfrem {
    font-size: 2rem;
    }
    
    .gridBox {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    font-size: 2rem;
    }

}

/* Disable Select */
.disableSelect {
  pointer-events: none;
  opacity: 0.5;
}

/* Modal Overlay */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
