/* Variables */
:root {
  --primary-color: #29abe2;
  --secondary-color: #b361ff;
  --text-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --transition-duration: 0.3s;
}

.DiscordIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  margin-top: 15px;
}


.primaryText{
  color: #92a0bb !important;
}

/* Detail Container */
.detailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.detailContainer div {
  background: #131118;
    box-shadow:  -20px -20px 40px #111, 
                20px 20px 40px #191919;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 0.3rem var(--box-shadow-color);
  width: 100%;
  max-width: 300px;
}

.detailContainer > div > h6 {
  display: flex;
  flex-direction: column;
}

/* Jumbotron */
.jumbotron {
  background: transparent;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.jumbotron-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(73.6deg, var(--primary-color) 2.11%, var(--secondary-color) 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron-description {
  font-size: 1.25rem;
  line-height: 1.5;
  animation: slideIn 1s ease-out;
}




.bannerCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

button.navbarBtn.homepageBtn:hover {
  border-color: #5cc6ff;
  transform: translateY(-3px);
  box-shadow: 0 0 25px #5cc6ff;
    box-shadow: 10px 10px 20px #5cc6ff, 
             -10px -10px 20px #5cc6ff; /* Create neumorphism effect */
}


.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.carousel-item {
  height: auto;
  width: auto;
  z-index: 0;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

.card {
  flex: 1 0 20rem;
  border-radius: 1rem;
  color: var(--text-color);
  box-shadow: 0 1rem 0.3rem var(--box-shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 30px;
  background-color: rgba(19, 17, 24, 0.4);

}

.card-header {
  padding: 1.5rem;
  text-align: center;
}

.card-title {
  color: #fff;
  text-transform: uppercase;
  background: -webkit-linear-gradient(73.6deg, #85ffc4 2.11%, #5cc6ff 42.39%, #bc85ff 85.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-body {
  padding: 1.5rem;
}

.card-text {
  margin: 0;
  color: #92a0bb;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.25);

}



@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    margin-bottom: 2rem;
  }
}


/* Keep your original CSS code as it is */

/* Mobile First styles (<=480px) */
@media (max-width: 480px) {
  .jumbotron-title {
    font-size: 2rem;
  }

  .jumbotron-description {
    font-size: 1rem;
  }

  .detailContainer {
    flex-direction: column;
    align-items: center;
  }

  .detailContainer div {
    max-width: 90%;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.75rem;
  }
}

/* Small devices (<=768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .jumbotron-title {
    font-size: 3rem;
  }

  .jumbotron-description {
    font-size: 1.25rem;
  }

  .detailContainer {
    flex-direction: column;
    align-items: center;
  }

  .detailContainer div {
    max-width: 90%;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

/* Medium devices (>768px) */
@media (min-width: 769px) {
  .jumbotron-title {
    font-size: 4rem;
  }

  .jumbotron-description {
    font-size: 1.25rem;
  }

  .detailContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .detailContainer div {
    max-width: 300px;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.25rem;
  }
}
